html {
  font-family: 'Bell MT', helvetica, arial, sans-serif;
}

body {
  color: black;
  /* background-color: rgb(232, 230, 223) ; */
}

th {
  /* letter-spacing: 2px; */
  font-style: bold;  
  border-bottom: solid 1px black; 
}

td {
  /* letter-spacing: 1px; */
  border-bottom: solid 1px #ddd;
  border-top: solid 1px #ddd;       
  text-align: center;    
}


table{
  font-family: 'Bell MT', helvetica, arial, sans-serif;
  font-size: 12px;
  table-layout:auto;
  /* width: 100%; */
  border-collapse: collapse;
  border-bottom: solid 1px black;
  border-top: solid 1px black;       
  /* text-align: center;     */
}  

caption {
  font-family: 'Bell MT', helvetica, arial, sans-serif;
  padding: 10px;
  font-weight: bold;    
  caption-side: top;
  text-align: left;
  letter-spacing: 1px;
}

.header {
  font-weight: bold;   
}

.rw-cell{ 
  /* border-bottom: solid 1px black;
  border-top: solid 1px black;        */
  /* text-align: left;     */
}

.rw-footnotes{
  font-family: 'Bell MT', helvetica, arial, sans-serif;
  font-size: 10px;
}

.rw-row{
 }

.rw-table{
}

.indent{
  text-align: left;
  padding: 15px;
}